*{
    margin: 0;
}/*header*/
.navbar{
    width:100%;
    height:80px;
    background-color:rgb(133, 182, 199);
    display: flex;
    position:fixed;
}
.logo{
    width:30%;
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    color:maroon;
    font-family:cursive;
}

.nav-links{
    width:70%;
    height:80px;
    display:flex;
    justify-content: flex-end;
    align-items: center;

}
.nav-links ul li{
    display:inline;
    padding-left: 40px;
}

.nav-links ul{
    padding-right: 90px;
}
.nav-links ul a{
    text-decoration: none;
    color:navy;
    ;
}
.nav-links ul a:hover{
    text-decoration: underline;
    color:maroon;
    font-size: 20px;
}
.btn1{
    border-radius: 10px;
    border:2px solid navy;
    background-color: transparent;
    cursor:pointer;
    width:90px;
    height:25px;
    color: navy;
}
.btn1:hover{
    border:none;
    background-color: navy;
    color:white;
}
/*banner*/
.banner{
    width:100%;
    height:400px;
    background-image: url(../images/pattern1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 180px;
    animation-name: image-animation;
    animation-duration: 15s;
    animation-iteration-count: infinite;


}
#txtbanner{
    width:50%;
    height:200px;
    margin-left: 400px;

}
.txt{
    color:white;
}
#txtbanner p{
    margin-top:40px;
    text-align:left;
    padding: 30px;
    font-size: 20px;
    word-spacing: 5px;
}
#txtbanner h1{
    padding-left: 30px;
    font-family:cursive;
    font-size: 2.5rem;
}
.btnsection{
    width:60%;
    height:100px;
    padding:40px;
    margin-left: 200px;
}
.btn{
    width:100px;
    float:right;
    height:30px;
    margin-left: 30px;
    border-radius: 10px;
    border:none;
    background-color: white;
    transition-property: border width height background-color;
    transition-duration: 4s; 
}
.btn a{
    text-decoration: none;
    color:rgb(71, 71, 71);
}
@keyframes image-animation {
    0%{background-image: url(../images/pattern1.jpg);}
    20%{background-image: url(../images/pattern2.jpg);}
    60%{background-image: url(../images/pattern3.jpg);}
    80%{background-image: url(../images/pattern4.jpg);}
    100%{background-image: url(../images/pattern5.jpg);}
    
}
.btn:hover{
    border:2px solid maroon;
    background-color:maroon;
    width:130px;
    height:30px;
}
/*footer*/
footer{
    width:100%;
    height:250px;
    background-color:rgb(133, 182, 199);
    display:flex;
    justify-content: center;
    align-items: center;
}
.UScreen{
    width:32%;
    height:250px;
}
.Legal{
    width:32%;
    height:250px;
}
.Learn{
    width:32%;
    height:250px;
}
.heading{
   padding-left: 60px;
   padding-top: 100px;
   padding-bottom: 10px;
}
.bottom ul li{
    padding-left: 20px;
    list-style-type: none;
}
.bottom ul a{
    text-decoration: none;
    color:navy;
}